.charts-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 30px;
}


.chart-card {
  background-color: rgb(129 118 223 / 74%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.chart-card:hover {
  transform: scale(1.03);
}