.chart-button {

  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  border: 2px solid #e2b0f1;
  color: #9c88ff;
  cursor: pointer;
}

.chart-button:hover {
  background-color: #FC427B;
  color: white;
  border: 2px solid #eb3b5a;

}